# Input files
## xyz file
CH4.xyz
## bond file
CH4.bond
# Output files
## atomic coordinate pdf
CH4.png
##color bar for xyz
cb_xyz.pdf
##color bar for bond
cb_bond.pdf
# Options
## direction of normal vector for the drawing plane
x
## Bounding box
-3.0  3.0
-3.0  3.0
-3.0  3.0
## color bar parameters for xyz ... id_data type vmin vmax
2   BWR   -2   2
## color bar output parameters for xyz ... width height number_of_scale number_of_subscale
300 50 6 2
## color bar parameters for bond ... id_data type vmin vmax
0   WR  0.0  2.0
## color bar output parameters for bond ... width height number_of_scale number_of_subscale
300 50 2 2
## coordinate -> image
100
## atomic radius -> coordinate
0.3
## element parameters (radius, r, g, b)
H   0.31     0     0     1
C   0.77     1     1     0
Fe  1.26     1     0     0
Nd  1.81     1     1     0
B   0.90     0     1     0
